.line-graph-container {
  width: 70%;
  margin: 0 auto;
}

.pie-chart-container {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.empty-pie-message {
  font-size: 30px;
  color: #666666;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}

.main-nav-bar {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  /* width: 320px; */
  width: 100%;
}

.nav-bar-links-container {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  margin-left: 60px;
}

.main-nav-links {
  color: #f7f7f7;
  text-decoration: none;
  letter-spacing: 1px;
}

.main-nav-links:hover {
  font-weight: 900;
}

.main-nav-logo {
  display: inline-block;
  width: 350px;
}

.nav-active {
  font-weight: 900;
  border-bottom: 2px solid #f7f7f7;
  /* text-decoration: underline; */
}

.logo-container {
  display: inline-block;
  font-weight: 900;
  cursor: pointer;
  margin-left: 20px;
}

.main-nav-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: #2b2d42;
}

.first-logo-span {
  color: rgb(10, 173, 72);
  font-weight: 900;
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  width: 33px;
  transition-duration: 0.3s;
}

.first-logo-span.expand {
  width: 117px;
  transition-duration: 0.3s;
}

.second-logo-span.expand {
  width: 110px;
  transition-duration: 0.3s;
}

.second-logo-span {
  color: #f7f7f7;
  font-weight: 900;
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  width: 44px;
  transition-duration: 0.3s;
}